# Prefer DATABASE_URL (Railway štandard)
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME

# Fallback, ak DATABASE_URL nie je nastavené
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=5432
PG_DB=

# RÚZ API
RUZ_API_BASE=https://www.registeruz.sk/cruz-public

# RPO S3 endpoint
RPO_S3_ENDPOINT=https://frkqbrydxwdp.compat.objectstorage.eu-frankfurt-1.oraclecloud.com
